---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";
import PostSidebar from "@/partials/PostSidebar.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import type { Language } from "../../../../types/language.type";

export async function getStaticPaths() {
  var paths = new Array();
  for (var lang of ["en", "nl"]) {
    const BLOG_FOLDER = ((lang == "nl") ? "blogNL" : "blogEN");
    const posts = await getSinglePage(BLOG_FOLDER);

    const totalPages = Math.ceil(posts.length / config.settings.pagination);
    const paths2 = [];

    for (let i = 1; i < totalPages; i++) {
      paths2.push({
        params: {
          slug: (i + 1).toString(),
          lang: lang,
        },
      });
    }
    paths = paths.concat(paths2);
  }
  return paths;
}

const slug = Astro.params.slug;
const lang = Astro.params.lang as Language;

const BLOG_FOLDER = ((lang == "nl") ? "blogNL" : "blogEN");
const BLOG_ROOT = ((lang == "nl") ? "nl/blog" : "en/blog");

const postIndex = ((lang == "nl") ?
  (await getEntry(BLOG_FOLDER, "-index")) as CollectionEntry<"blogNL">
  :
  (await getEntry(BLOG_FOLDER, "-index")) as CollectionEntry<"blogEN">
);

const posts = await getSinglePage(BLOG_FOLDER);
const allCategories = await getAllTaxonomy(BLOG_FOLDER, "categories");
const categories = await getTaxonomy(BLOG_FOLDER, "categories");
const tags = await getTaxonomy(BLOG_FOLDER, "tags");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);

---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
        <div class="lg:col-8">
          <div class="row">
            {
              currentPosts.map((post) => (
                <div class="mb-14 md:col-6">
                  <BlogCard data={post} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={BLOG_ROOT}
            currentPage={currentPage}
            totalPages={totalPages}
          />
        </div>

        <!-- sidebar -->
        <PostSidebar
          categories={categories}
          tags={tags}
          allCategories={allCategories}
        />
      </div>
    </div>
  </section>
</Base>
